@charset "euc-kr";
@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

*{margin:0;padding:0;}
html{font-family:"맑은 고딕", Roboto, Droid Sans, Helvetica, AppleSDGothicNeo, 'Apple SD 산돌고딕 Neo', Apple-Gothic, '애플고딕', 'Tahoma', 'dotum', '돋움', 'gulim', '굴림', sans-serif;}
a{text-decoration:none;color:#000;}
body{background:transparent;}

li{list-style:none;}
img{border:0;vertical-align:top;}



/* 게시물 목록 */
#board_list{background:#fff;width:900px;margin:0 auto;overflow:hidden;}
#board_list table.table_list{border-top:3px #000 solid;border-bottom:2px #000 solid;width:100%;border-collapse:collapse;}
#board_list table.table_list thead th{padding:10px 0;text-align:center;border-bottom:1px #000 solid;}
#board_list table.table_list tbody td{padding:20px 0;text-align:center;border-bottom:1px #000 dashed;word-break:break-all;-ms-word-break:break-all;}
#board_list table.table_list tbody td.subject{font-weight:bold;text-align:left;}
#board_list #paging{margin-top:20px;text-align:center;}
#board_list #paging span{font-weight:bold;margin-right:4px;}
#board_list #paging span .this{color:#ab1e2c;}
#board_list #paging span a{margin:0 4px 0 8px;}
#board_list #paging img{}